
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a style="padding-top: 14px; padding-bottom: 14px;" class="navbar-brand btn btn-outline-info" asp-area="" asp-controller="Home" asp-action="Index">Ropey DVDs <i class="bi bi-disc"></i></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="DVDSearch" asp-action="Index">1 Search DVD</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="DVDSearch" asp-action="DVDWithAvailability">2 Search DVD with availability</a>
                        </li>

                @if(User.IsInRole("Manager") || User.IsInRole("Assistant"))
                {
                    <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">More</a>
                          <div class="dropdown-menu" style="min-width: 320px">
                                <a class="nav-link text-black hover" asp-area="" asp-controller="MemberSearch" asp-action="Index">3 Search Members</a>
                                <a class="nav-link text-black hover" asp-area="" asp-controller="CastMemberSearch" asp-action="Index">4 Show Producers, Studio & Cast Lists</a>
                                <a class="nav-link text-black hover" asp-area="" asp-controller="CopyNumberSearch" asp-action="Index">5 Search DVD by Copy Number</a>
                                <div class="dropdown-divider"></div>
                                <a class="nav-link text-black hover" asp-area="" asp-controller="TotalDVDLoan" asp-action="Index">8 Search Member with total loan taken</a>
                                <a class="nav-link text-black hover" asp-area="" asp-controller="RemoveOldDVD" asp-action="Index">10 Remove Old DVDs older than 365 days</a>
                                <a class="nav-link text-black hover" asp-area="" asp-controller="LoanedOutDVDs" asp-action="Index">11 Show DVDs currently on Loan in last 31 days</a>

                                @*<div class="dropdown-divider"></div>*@
                           </div>
                </li>
                       
                }

                

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>