@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" 
    style="text-shadow: 2px 2px gray, 2px -2px gray, -2px 2px black, -2px -2px black; text-decoration: underline; text-decoration-thickness: 2px">
        Welcome To Ropey DVD!
    </h1>

    @*p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a asp-controller="DVDSearch" asp-action="Test">Go to test page</a>*@
</div>
